:root {
  --pink: #fc0fc0;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
  --text: #ffff;
}

body {
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
  background-color: #ccc;
  /* min-height: 4000px; */
}

.hero ::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* <!-- FOTO HARUS 1920x1280 PIXEL --> */
  background-image: url(img/latar-depan.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1 {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 3rem;
  color: var(--text);
}

.hero a {
  color: var(--bg);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--bg);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(8px);
}

.mynavbar .offcanvas {
  width: 35rem;
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "poppins", sans-serif;
  font-style: italic;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.home h2 {
  color: var(--bg);
  font-family: "poppins", sans-serif;
  font-size: 3rem;
  margin-top: 5rem;
  font-weight: bold;
}

.home p {
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  margin-top: 1px;
  color: var(--bg);
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  color: var(--bg);
}

.home .couple p {
  font-family: "poppins", sans-serif;
  color: var(--bg);
  font-size: 1.3rem;
  margin-bottom: 1px;
}

.home i,
.home .couple i {
  color: var(--bg);
  font-size: 2.2rem;
}

.home .couple img {
  width: 100%;
}

.story,
.gallery,
.fotoiam,
.vidiam {
  background-color: #ccc;
  color: var(--bg);
  min-height: 100vh;
  margin-top: 7rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.story h2,
.gallery h2,
.fotoiam h2,
.vidiam {
  color: var(--bg);
  font-family: "poppins", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: " ";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: var(--bg);
  left: 50%;
}

.timeline li {
  margin-bottom: 1rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: " ";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: var(--bg);
  position: absolute;
  left: 50%;
  bottom: 51%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid var(--bg);
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: " ";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ffff;
  border-right: 0 solid #ffff;
  border-bottom: 15px solid transparent;
  top: 90px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: " ";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #ffff;
  border-right: 0 solid #ffff;
  border-bottom: 15px solid transparent;
  top: 91px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-image {
  width: 160px;
  height: 160px;
  background-color: var(--bg);
  position: absolute;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.fotoiam,
.vidiam {
  margin-top: -8rem;
}

.vidiam .video {
  width: 50%;
  height: 50%;
}

/* footer */
.card-header,
.card-body,
.card-socials,
.card-footer {
  background-color: var(--bg);
  color: var(--text);
}

.card-header h1 {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.card-socials a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 10px;
}

.card-socials a:hover {
  color: var(--pink);
}

.card-footer {
  font-size: 1rem;
}

/* media query */

/* Extra Large */
@media (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 12px;
  }

  .timeline li .timeline-panel {
    width: calc(100% - 200px);
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    top: 30%;
    right: auto;
  }
  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    top: 30%;
    right: auto;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .mynavbar .offcanvas {
    width: 50%;
    height: 100vh;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }

  .timeline li.timeline-inverted .timeline-image {
    width: 140px;
    height: 140px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 61px;
  }
  .timeline li .timeline-panel::after {
    top: 61px;
  }
}

/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .mynavbar .offcanvas {
    width: 75%;
    height: 100vh;
  }

  .mynavbar .offcanvas h5 {
    font-size: 2.5rem;
  }

  .navbar-brand,
  .offcanvas-title {
    padding: 10px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li.timeline-inverted .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-10px);
  }

  .timeline li .timeline-panel::before {
    top: 31px;
  }
  .timeline li .timeline-panel::after {
    top: 31px;
  }
  .vidiam {
    margin-top: -10rem;
  }
  .story {
    margin-top: -25rem;
  }
}
